/newLesson/target/
/newLesson/.idea/
/newLesson/*.iws
/newLesson/*.iml
/newLesson/*.ipr

/demoApiHelpers/target/
/demoApiHelpers/.idea/
/demoApiHelpers/*.iws
/demoApiHelpers/*.iml
/demoApiHelpers/*.ipr

/HomeworkCitrus_3/target/
/HomeworkCitrus_3/.idea/
/HomeworkCitrus_3/*.iws
/HomeworkCitrus_3/*.iml
/HomeworkCitrus_3/*.ipr


